.nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #585858;
    height: 70px;
    border-bottom: 3px solid #666666;
}
.nav_header a{
    color: #c2b8b8;
    text-decoration: none;
    margin-top:20px;
    font-family: 'Poppins', serif;
    padding: 10px;
    border: 1px solid #adadad;
 }
.nav_header a:first-child{
    margin-left: 200px;
}

.nav_func{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin-right: 210px;
}
.user{
    font-size: 20px;
}


/*navbar end*/